<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Portfolio do Daniel</title>
        <link rel="stylesheet" href="/css/index-style.css" type="text/css" media="all">
    </head>
    <body>
        <header>

            <div id="languages">
               <a href="/"><img id="portuguese" src="/icons/brasil.png" alt="portugues"></a>
               <a href="/en"><img id="english" src="/icons/usa.png" alt="english"></a> 
            </div>

            <div id="intro">
                <div id="imgh1">
                    <img id="photo" src="/img/photo.jpeg" alt="photo">                
                    <h1>Olá, sou Daniel Alves. <p> Desenvolvedor web Full Stack em formação. </p></h1>
                </div>
                <a id="contact" href="/contact">Contato</a>
            </div>

        </header>

        <main>
            <section id="sec1">
                <div id="sec1div1">
                    <h2>Biografia</h2>          
                    <p>Estudante de desenvolvimento web em formação e ex-aluno da Universidade Federal de Pernambuco do curso de Bacharelado em Matemática. Atualmente, me dedico exclusivamente aos estudos em programação e nas outras tecnologias necessárias para o desenvolvimento web. Estou a procura de uma oportunidade para atuar na área.</p>
                </div>

                <div id="sec1div2">
                    <h2>Stacks</h2>    
                    <ul id="stacks">
                       
                        <% stacks.forEach(item => { %>
                            <li>
                                <img src="<%= item.image_src %>" alt="<%= item.name %>"/>
                                <h3><%= item.name %></h3>
                            </li>
                        <% }) %>

                    </ul>
                </div>
            </section>

            <section id="sec2">
                   <h2>Projetos</h2> 
                   <p>Aqui estão os projetos que realizei por inteiro ou parcialmente junto com
                   outros colegas.</p>

                    <div>
                        <% projects.forEach(item => { %>
                        <a href ="<%= item.link %>" target="_blank">
                                <img src="<%= item.image_src %>" alt="<%= item.title%>"/>
                                <h3><%= item.title %></h3>
                            </a>
                        <% }) %>
                    </div>
            </section>
        </main>

        <footer>
            <ul>
                <li>
                    <div>
                        <img src="/icons/gmail.png" alt="gmail"/>
                    </div>
                    <h4><a href="/contact">E-mail</a></h4>
                </li>

                <li>
                    <div>
                        <img src="/icons/linkedin.png" alt="linkedin"/>
                    </div>
                    <h4><a href="http://linkedin.com/in/daniel-alves-1bb89222a" target="_blank">
                    Linkedin</a></h4>
                </li>

                <li>
                    <div>
                        <img src="/icons/github.png" alt="github"/>
                    </div>
                    <h4><a href="http://www.github.com/dalima-dev" target="_blank">GitHub</a></h4>
                </li>
            </ul>
        </footer>
    </body>
</html>
