<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Portfolio</title>
        <link rel="stylesheet" href="/css/index-style.css" type="text/css" media="all">
    </head>
    <body>
        <header>

            <div id="languages">
               <img id="portuguese" src="/icons/brasil.png" alt="portugues"> 
               <img id="english" src="/icons/usa.png" alt="english"> 
            </div>

            <div id="intro">
                <div id="imgh1">
                    <img id="photo" src="/img/photo.jpeg" alt="photo">                
                    <h1>Ola, sou Daniel Alves. <p> Desenvolvedor web Full Stack em formacao. </p></h1>
                </div>
                <button id="contact" type="button">Contato</button>
            </div>

        </header>

        <main>
            <section id="sec1">
                <div id="sec1div1">
                    <h2>Biografia</h2>          
                    <p>
Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
                    </p>
                </div>

                <div id="sec1div2">
                    <h2>Stacks</h2>    
                    <ul id="stacks">
                       
                        <% stacks.forEach(item => { %>
                            <li>
                                <img src="<%= item.image_src %>" alt="<%= item.name %>"/>
                                <h3><%= item.name %></h3>
                            </li>
                        <% }) %>

                    </ul>
                </div>
            </section>

            <section id="sec2">
                   <h2>Projetos</h2> 

                    <div>
                        <% projects.forEach(item => { %>
                        <a href ="<%= item.link %>" target="_blank">
                                <img src="<%= item.image_src %>" alt="<%= item.title%>"/>
                                <h3><%= item.title %></h3>
                            </a>
                        <% }) %>
                    </div>
            </section>
        </main>

        <footer>
            <ul>
                <li>
                    <div>
                        <img src="/icons/gmail.png" alt="gmail"/>
                    </div>
                    <h4>dalima.dev@gmail.com</h4>
                </li>

                <li>
                    <div>
                        <img src="/icons/linkedin.png" alt="gmail"/>
                    </div>
                    <h4><a href="http://linkedin.com/in/daniel-alves-1bb89222a" target="_blank">
                    Linkedin</a></h4>
                </li>

                <li>
                    <div>
                        <img src="/icons/github.png" alt="gmail"/>
                    </div>
                    <h4><a href="http://www.github.com/dalima-dev" target="_blank">GitHub</a></h4>
                </li>
            </ul>
        </footer>
    </body>
</html>
